[Unit]
Description=ote Application
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ ote_user }}
Group={{ ote_group }}
WorkingDirectory=/opt/ote
ExecStart=/usr/local/bin/ote server --config /etc/ote/config.yml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
