# Copyright 2025 Clivern. All rights reserved.
# Use of this source code is governed by the MIT
# license that can be found in the LICENSE file.

---
otel_collector_version: "0.139.0"
otel_collector_download_url: "https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v{{ otel_collector_version }}/otelcol-contrib_{{ otel_collector_version }}_linux_amd64.tar.gz"
otel_collector_binary_path: "/usr/local/bin/otelcol-contrib"

otel_collector_user: "otelcol"
otel_collector_group: "otelcol"

otel_collector_dash0_otlp_endpoint: "XXXXXXX.dash0.com:4317"
otel_collector_dash0_otlp_authorization_token: "YYYYYYYYY"
otel_collector_dash0_dataset_name: "default"

otel_collector_ote_server_metrics_username: "admin"
otel_collector_ote_server_metrics_secret: "secret"
otel_collector_ote_server_log_file: "/var/log/ote/ote.log"
otel_collector_ote_server_metrics_target: "localhost:8000"
